coverage
django
django_q
djangorestframework
gitpython
gunicorn
mock
mkdocs
psycopg2
psycopg2-binary
PyYAML
requests
xlrd
xlwt
uritemplate
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
