coverage
django
django_q
djangorestframework
gitpython
gunicorn
mock
mkdocs
psycopg2
psycopg2-binary
PyYAML
requests
xlrd
xlwt
uritemplate
redis>=4.3.6 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
